body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .calculator {
    background: black;
    padding: 20px;
    border-radius: 15px;
    width: 320px;
    box-shadow: lch(1.71% 7.57 338.66 / 0.25) 0px 54px 40px,
     #1211111f 0px -12px 25px, rgba(0, 0, 0, 0.12) 0px 4px 5px, rgba(0, 0, 0, 0.17) 0px 12px 10px,
     rgba(0, 0, 0, 0.09) 0px -3px 8px;
  }
  
  #display {
    width: 100%;
    font-size: 2rem;
    padding: 1px;
    height: 60px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background: white;
    text-align: center;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  button:hover {
    background-color: #d5d5d5;
  }

  .orange{
    background-color: orange;
  }
  
  .red{
    background-color: #ff3300;
  }

  .white{
    background-color: white;
  }
  